h1 {
	color: black;
	background-color: white;
	font-family: sans-serif;
}

body{
	text-align: center;
}

#header {
	text-align: center;
	font-family: serif;
	color:green;
}
#footer{
	text-align: center;
	font-family: monospace;
	color:red;
}